<form ng-submit="searchmovie()">
  <input type="text" ng-model="search" placeholder="search for a movie">
</form>
<br>
<br>
Go now. Watch your circus. Eat your bread.
<br>
<br>
<div class="title">
<h1>{{title}}</h1><br>
<h5>{{tagline}}</h5>
</div>
<br>
<br>
<div class="synopsis">
  <p>{{overview}}</p>
</div>
<br>
<br>
<div class="poster">
  <div class="error" ng-if="!poster_path">No poster for this movie</div>
  <img ng-if="poster_path" ng-src="https://image.tmdb.org/t/p/original/{{poster_path}}" />
</div>
<br>
<br>
Running time: {{runtime}} minutes
<br>
<br>
Released on {{release_date}}
